html {
    background-color: rgb(224, 253, 7);
    margin: 80px;
}
h1{
    color: blue;
    font-family: 'Arial';
    text-align: center;
}
p{
    font-size: 18px;
    font-weight: 200;
    border-style: solid;
    border-color: rgb(218, 24, 34);
    padding: auto;
   
}
img{
    width: 450px;
}
video{
    
    width: 450px;
    height: auto;
    
}
